.searchPage {
  padding-top: 150px;
  padding-bottom: 100px;
  color: #ffffff;
  background-image: url("/img/productRoadBoardsBannerBG.jpg");
  background-size: cover;
}

.searchPageResults {
  margin: 50px 0;
  display: flex;
  flex-direction: column;
  min-height: 50vh;
}

.searchPageResults__item {
  display: grid;
  grid-template-areas:
    'photo title'
    'photo description'
    'photo description';
  grid-column-gap: 20px;
  margin-bottom: 30px;
}

.searchPageResults__itemTitle {
  grid-area: title;
  font-size: 24px;
}

.searchPageResults__itemTitleLink {
  text-decoration: none;
  color: #1D1D1D;
}

.searchPageResults__itemTitleLink:hover {
  color: #333333;
  text-decoration: underline;
}

.searchPageResults__itemDescription {
  grid-area: description;
  padding-right: 30%;
  line-height: 1.35;
}

.searchPageResults__itemPhoto {
  grid-area: photo;
  width: 250px;
}

@media screen and (max-width: 767px) {
  .searchPageResults__item {
    grid-template-areas:
    'photo'
    'title'
    'description';

    grid-row-gap: 10px;
  }
}
