.title {
    font-size: 45px;
    font-weight: 500;
    font-style: normal;
    line-height: 1.3;
}

@media screen and (max-width: 1024px) {
    .title {}
}


@media screen and (max-width: 767px) {
    .title {
        font-size: 25px;
        line-height: 1.2;
    }
}
